@{
    ViewData["Title"] = "Registration";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please input your email to register</p>
    <form method="post" action="Registration/Register">
        <input type="text" name="email" value="" />
        <input type="submit" value="Register" />
    </form>
</div>
